{
    "name": "any_name",
    "cniVersion": "0.1.0",
    "type": "calico",
    "kubernetes": {
        "kubeconfig": "/home/{{ ansible_user }}/.kube/config",
        "node_name": "{{ new_hostname }}"
    },
    "policy": {
        "type": "k8s"
    },
    "ipam": {
        "type": "calico-ipam"
    },
    "container_settings": {
        "allow_ip_forwarding": true
    }
}